CompileFlags:
  CompilationDatabase: /Users/jan/Desktop/ITS/gt1/ITS-BRD-VSC/Programs/StoppuhrASM/out/StoppuhrASM/ITSboard_Assembly/Debug
  Add:
    - -include
    - /Users/jan/Desktop/ITS/gt1/ITS-BRD-VSC/Programs/StoppuhrASM/out/StoppuhrASM/ITSboard_Assembly/Debug/compile_macros.h
